.container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  padding: 1.5em;
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.input-date {
  padding: 1em;
  display: block;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 1.1em;
}

.info-messages {
  height: 60px;
}

.days-until-text {
  font-size: 1.2em;
}
